html {
    min-height: 100%;
  }
  
  body {
   min-height: 100%; 
 }

 body #root{
   min-height: 100%; 
 }
body .p-GalleryOwnerArtistsPage{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgK5cH3qeoFP_q_T_HP9x9lUzqTR7A19A6A&usqp=CAU");
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

.p-GalleryOwnerArtistsPage .container{
    padding: 2% 5% 10% 5%;
    margin-top:20px;
   
}


.p-GalleryOwnerArtistsPage  p{
color: white;
font-weight: bold;
font-size: 60px;
text-align: center;
font-family: 'Lobster', cursive;
}

.p-GalleryOwnerArtistsPage .row{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 
}

.p-GalleryOwnerArtistsPage .btn{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  
 }

 .p-GalleryOwnerArtistsPage .btn{
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin:30px 20px 20px 20px ;
    border: black solid 2px;
 }

 .p-GalleryOwnerArtistsPage img{
    height: 80px;
    object-fit: cover;
 }