.c-owner-gallery-card{
    height: 100%;
    padding-top:7% ;
}

.c-owner-gallery-card > .card{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(172, 198, 202), rgb(91, 194, 189));
}

.c-owner-gallery-card > .card img{
    height: 200px;
    object-fit:cover;
}

.c-owner-gallery-card  .card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
} 

.c-owner-gallery-card  .btn{
    text-align: center;
    font-weight: bold;
    
} 