


.c-gallery-card{
    height: 100%;
    padding-top:7% ;
}

.c-gallery-card > .card{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(172, 198, 202), rgb(91, 194, 189));
    height: 300px;
}

.c-gallery-card > .card img{
    height: 200px;
    object-fit:cover;
}

.c-gallery-card  .card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
} 
.c-gallery-card  .btn{
background-color: rgb(26, 145, 139);
font-size: 20px;
} 
