html {
    height: 100%;
  }
body .p-GalleryByIdPage{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgK5cH3qeoFP_q_T_HP9x9lUzqTR7A19A6A&usqp=CAU");
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

.p-GalleryByIdPage .container{
    padding: 2% 5% 10% 5%;
   
}


.p-GalleryByIdPage  p{
color: white;
font-weight: bold;
font-size: 30px;
text-align: center;
}

.p-GalleryByIdPage .row{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 
}

.p-GalleryByIdPage .btn{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  
 }

