.c-pic-card{
    height: 100%;
    padding-top:7% ;
}

.c-pic-card > .card{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(172, 198, 202), rgb(91, 194, 189));
    height: 400px;
}


.c-pic-card  .artwork{
    height: 200px;
    object-fit:cover;
}

.c-pic-card  .card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin-top: 15px;
} 

.c-pic-card  .card-footer{
    text-align: center;
    font-weight: bold;
    height: 80px;
    object-fit:cover;
}

.c-pic-card  .delete-button{
    height: 50px;
    object-fit:cover;
}