
html {
    min-height: 100%;
  }

  body {
    min-height: 100vh; 
  }

  body #root{
    min-height: 100vh; 
  }

  
body .p-home{
    background-image: url("homebackground.jpg");
    min-height: 100vh;    
    font-family: Arial, Helvetica, sans-serif;   
}

.p-home .homeDiv{
 /* width: 90%; */
 /* height: 1400px; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.p-home .about-card{
    width: 90%;
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(63, 136, 155, 0.73)),
    url("homebackground.jpg");
    border-radius: 5%;
    padding: 8%;
    margin: 5%;
    border: solid 2px rgba(23, 85, 100, 0.73);
    text-align: center;
    font-family: 'Lobster', cursive;
   
   }
   .p-home .about-content1{
    font-size: 2.5vw;
    font-weight: bold;
    color: rgba(13, 75, 90, 0.73)
   }
   .p-home .about-content2{
    font-size: 3.5vw;
    font-weight: bold;
    color: rgba(3, 43, 53, 0.73)
   }

   /* @media screen and (min-width: 588px){

    .p-home .about-content1{
        font-size: 2.5vw;
       
       }
       .p-home .about-content2{
        font-size: 3.5vw;
       
       }

   } */

   .p-home .row{
       height: 90%;
       justify-content: space-evenly;
        align-items: center;
        margin: 5% 0 5% 0;
        width: 100%;
   }
   .p-home .col{
       display: flex;
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px;
    
}

   .p-home .homeDiv img{
  height:85%;
  width: 70%;
  object-fit: cover;
  border-radius: 10%;
   }


   .p-home .join{
        background-color:rgba(36, 113, 133, 0.73);
        font-size: 2.5vw;
        color: rgba(3, 43, 53, 0.73);
        font-family: 'Lobster', cursive;
        border: solid 2px rgba(23, 85, 100, 0.73);
        
    }
